html { font-size: 62.5%; }

body {
	min-width: 240px;
}

.landing-page {
    background-attachment: fixed;
    background: url("../images/landing-background.jpg")  no-repeat center center;
    min-height: 650px;
    background-position: center center;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

}

.logo {
	top: 2.5%;
    color: #ff1500;
	font-family: 'Kristi', cursive;
	font-size: 55px;
    display: inline-block;
    left: 50%;
    width: 50px;
    height: auto;
    padding: 20px;
    position: absolute;
    white-space: nowrap;
    text-decoration: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	
}

.logo:hover {
    top: 2.5%;
    color: white;
    font-family: 'Kristi', cursive;
    font-size: 55px;
    display: inline-block;
    left: 50%;
    width: 50px;
    height: auto;
    padding: 20px;
    position: absolute;
    white-space: nowrap;
    text-decoration: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

}

a:hover {
	text-decoration: none;
}

.landing-container {
	margin-top: 15%;
	text-align: center;
}

h1.words {
	font-size: 6.7rem;
	text-align: center;
    color: white;
}

.center-button {
	margin-top: 15%;
	text-align: center;
}

.btn-lg {
	border-radius: 50px;
}

.learn-more {
	margin-top: 8%;
    text-align: center;
}

#expertise-section {
    padding: 0 0 100px;
}

.expertise, .personal{
    margin: 4.0rem 0 0;
    text-align: center;
}

.expertise-icons {
    font-size: 50px;
    color: #FDCD3B;
}

p.intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    margin: 10rem 0 2.0rem;
}

h4.title {
    font-family: 'Montserrat', sans-serif;
    margin: 1.8rem 0;
    font-size: 3.0rem;
    font-weight: 700;
}

p.statement {
    font-size: 22px;
    text-align: center;
    color: #524e4d;
    margin-bottom: 0;
    padding-bottom: 2.5rem;
}

p.summary {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    color: #93a4aa;
    line-height: 1.8;
}

#personal-section {
    background-color: #d6e1e5;
    padding: 0 0 100px;
}

.startup-brand {
    text-decoration: none;

}

a.startup-brand img {
    margin: 4.0rem 0 1.5rem;
    border-radius: 6px;
    width: 90%;
    height: auto;
}



.cd-modal-action {
	display: block;
}

footer {
    padding: 80px 0 50px;
    background-color: #2A3A3F;
    color: #fff;
    text-align: center;
}

footer .social-links a {
    display: inline-block;
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    margin: 0 4px;
    height: 36px;
    width: 36px;
    font-size: 1.6rem;
    line-height: 2.3;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50px;
    transition: all .3s ease-in-out;
}

footer .social-links a:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    border: none;
}





